<div class="cards_container" id="showroom">
  <div>
    <a href="#scooters">
      <div class="card_01">
        <div class="card_01-wrapper">
          <h2>Scooters</h2>
          <p>Pra chegar msis rápido e economizar!</p>
        </div>
      </div>
    </a>
  </div>
  <div>
    <a href="#motos">
      <div class="card_02">
        <div class="card_02-wrapper">
          <h2>Motos</h2>
          <p>Experiências eletrizantes!</p>
        </div>
      </div>
    </a>
  </div>
  <div>
    <a href="#stuff">
      <div class="card_03">
        <div class="card_03-wrapper">
          <h2>Trajes & Mais</h2>
          <p>Pilote com estilo e segurança!</p>
        </div>
      </div>
    </a>
  </div>
</div>
