<div class="caroussel">
  <ul class="images">
    <li class="img-container" id="li-im-01">
      <img src="/images/slide01.webp" alt="">
    </li>
    <li class="img-container" id="li-im-02">
      <img src="/images/slide02.png" alt="">
    </li>
    <li class="img-container" id="li-im-03">
      <img src="/images/slide03.png" alt="">
    </li>
  </ul>
</div>
