<div class="footer-content fixed-bottom">
  <div class="footer-container">
    <footer>
      <div>
        <a href="#"><img id="minimal-logo" src="/images/watermark.svg" alt="minimal-logo" /></a>
      </div>
      <div class="footer-contacts-info">
        <label id="Nossos-contatos">Nossos Contatos</label>
        <br />
        <img src="/images/contactCall.svg" alt="contact Call icon" />
        <label>(11) 2404-4856</label> <br />
        <img src="/images/contactMail.svg" alt="" />
        <label>contato@u-scooter.com</label> <br />
        <img src="/images/localPointer.svg" alt="" />
        <label>Avenida das Bromélias, 960 - Moema - São Paulo -
          07196-015</label>
        <br />
      </div>
      <div class="footer-social-a-icons">
        <a href="https://facebook.com"><img src="/images/facebook.svg" alt="facebook icon" /></a>
        <a href="https://instagram.com"><img src="/images/instagram.svg" alt="instagram icon" /></a>
        <a href="https://web.whatsapp.com/"><img src="/images/whatsapp.svg" alt="" /></a>
      </div>
      <div class="footer-site-map">
        <span>Mapa do site</span>
        <ul>
          <li> <a href="/home">Home</a> </li>
          <li> <a href="/produtos">Show room</a> </li>
          <li> <a href="/contatos">Contatos</a> </li>
          <li> <a href="/sobre">Sobre nós</a> </li>
          <li> <a href="/dashboard">Área do usuário</a> </li>
        </ul>
      </div>
    </footer>
  </div>
  <div id="footer-end-line">
    <hr id="linha">
    <p>
      ® U-SCOOTER – Todos os direitos reservados.
      <a id="footer-end-line-a" href="#">www.u-scooter.com.br</a>
    </p>
  </div>
</div>
<!-------------------FOOTER----------------------------------------------->