<header class="header-master">
  <div class="header-container">
    <div class="header-img-logo">
      <img src="/images/ulogo.png" id="top" width="460px" alt="U-SCOOTER logotipo" />
    </div>

    <div class="wrapper">
      <div class="checkbox-wrapper">
        <input type="checkbox" id="toggle">
        <label class="checkbox" for="toggle">
          <div class="trace"></div>
          <div class="trace"></div>
          <div class="trace"></div>
        </label>
      </div>
    </div>

    <div class="header-nav-bar menu">
      <nav class="header-menu-items">
        <a href="/home">Home</a>
        <a href="#showroom">Show room</a>
        <a href="contatos">Contatos</a>
        <a href="/sobre">Sobre nós</a>
      </nav>

    </div>
    <div id="header-login">
      <img src="/images/login.svg" alt="user icon" /> <br />
      <a href="/login">Entrar</a>
    </div>
  </div>
</header>
</div>
</header>
