<h2 class="sector-title" id="stuff">Trajes, acessórios e + </h2>
<div class="acessorios frota-acessorios">
  <div id="acessorio01">
    <a href="#"><img src="/images/acessorios/jacket.png" alt="" /></a>
    <span>Jaqueta</span>
  </div>
  <div id="acessorio02">
    <a href="#"><img src="/images/acessorios/capacete.png" alt="" /></a>
    <span>Capacete</span>
  </div>
  <div id="acessorio03">
    <a href="#"><img src="/images/acessorios/luvas.png" alt="" /></a>
    <span>Luvas</span>
  </div>
  <div id="acessorio04">
    <a href="#"><img src="/images/acessorios/bota.webp" alt="" /></a>
    <span>Botas</span>
  </div>
  <div id="acessorio05">
    <a href="#"><img src="/images/acessorios/bau.png" alt="" /></a>
    <span>Baú</span>
  </div>
  <div id="acessorio06">
    <a href="#"><img src="/images/acessorios/caixas-laterais.png" alt="" /></a>
    <span>Alforges</span>
  </div>
  <div id="acessorio07">
    <a href="#"><img src="/images/acessorios/bolsas-laterais.png" alt="" /></a>
    <span>Alforges esportivos</span>
  </div>
  <div id="acessorio08">
    <a href="#"><img src="/images/acessorios/capa-de-chuva.webp" alt="" /></a>
    <span>Capa para chuva</span>
  </div>
</div>
<a href="#top" class="top-button">
  <div>
    <img src="/images/top.png" alt="back to top">
  </div>
