<body>
  <h1>
    <%= message %>
  </h1>
  <h2>
    <%= error.status %>
  </h2>
</body>
<style>
  body {
    background-image: url(/images/404.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
  }
</style>