<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='./stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Bem vindo ao <%= title %>
  </p>

  <a href="/home">Página inicial</a>
  <span id="info">
    <h3>Projeto - <%= title %> - Loja online de motos elétricas, trajes e acessórios.</h3>
    Front-end: Wanderson, Mayara <br>
    Back -end: Wanderson, Mayara <br>
    Tecnologias usadas:
    GITHUB, HTML5, CSS3, JavaScript, NodeJS, Express, EJS, Multer, Sequelize, MySQL, DOCKER
  </span> <br>


</body>
<style>
  * {
    margin-left: 0.5vw;
  }

  a {
    font-size: large;
    font-weight: 600;
    text-decoration: wavy e;
    color: #ffffff;
  }

  #info {
    font-size: 32px;
    color: #fcfcfc;
  }
</style>

</html>
