<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>

  <body>

    <%- include("./partials/header") %>

      <div class="quemsomos">
        <h1>QUEM SOMOS</h1>
      </div>
      <div class="textoquemsomos">
        <p>
          A U-SCOOTER é um time extremamente focado em maximizar soluções
          inovadoras, criativas e inteligentes para que nossos
          clientes desfrutem de um dia-a-dia com mobilidade e segurança. Com tudo
          isso a U-SCOOTER possibilita experiências
          fantásticas sobre duas rodas. <br>
          Cuidamos de tudo, e ainda oferecemos: agentes
          dedicados, manutenções preventivas, assistência 24 horas para as
          horas de emergência, todos os nossos planos contam com a nossa
          proteção, além da quilometragem livre.
        </p>
      </div>
      <!--==============================================Missão=======================================================-->
      <div class="missao">
        <h1>MISSÃO</h1>
      </div>
      <!--=============================================Texto Missão==================================================-->
      <div class="textomissao">
        <p>
          Oferecer um serviço de aluguel de motocicletas elétricas, de forma que seja
          conveniente e acessível, sempre de olho no futuro, da tecnologia, e do meio ambiente.
        </p>
      </div>
      <!--===========================================Valores=========================================================-->
      <div class="valores">
        <h1>VALORES</h1>
      </div>
      <!--============================================Texto Valores==================================================-->
      <div class="textovalores">
        <p>
          Prezamos pela simplicidade e agilidade de nossos processos, sempre com foco na
          preservação do meio ambiente, e estes valores se refletem em nossas
          atitudes e ações, principalmente no atendimento aos
          nossos clientes. Além do respeito as pessoas, amor pelo
          que fazemos e não menos importante, a ética e transparência.
        </p>
      </div>
      <!--===========================================Visão=========================================================-->
      <div class="visao">
        <h1>VISÃO</h1>
      </div>
      <!--============================================Texto Visão==================================================-->
      <div class="textovisao">
        <p>
          Representar as melhores marcas, garantindo sempre as melhores experiências !
        </p>
      </div>
      </main>

      <%- include("./partials/footer") %>

  </body>

</html>
