/*FOOTER*/
.footer.content {
  position: fixed;
  margin: 0;
  padding: 0;
  padding: 0 0 0 0;
}

.footer-container>footer {
  display: flex;
}

#minimal-logo {
  margin: 80px 30px 5px 10px;
}

#Nossos-contatos {
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  color: #f0ffff;
}

.footer-contacts-info {
  padding: 100px 10px 0px 10px;
}

.footer-contacts-info>img {
  width: 40px;
  padding: 15px 20px 0px 0px;
}

.footer-contacts-info>label {
  font-size: 18px;
  color: #f0ffff;
}

.footer-social-a-icons {
  width: 20vw;
}

.footer-social-a-icons img {
  width: 60px;
  margin: 80px 10px 0px 15px;
}


.footer-site-map {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #f0ffff;
  margin: 12vh 7vw;

}


.footer-site-map ul li {
  list-style-type: disc;
  text-align: start;
}

.footer-site-map ul li a {

  margin-top: 5px;
  padding-bottom: 3px;
  text-decoration: none;
  color: #f0ffff;
}

#footer-end-line {
  width: 100%;
  height: 8vh;
  text-align: center;
  color: #f0ffff;
  font-size: 22px;
  font-weight: 600;
}


#footer-end-line a {
  text-decoration: none;
}

:hover#footer-end-line a {
  text-decoration: none;
  color: #f0ffff;
}

.wrapper {
  display: none;
}